In [12]:
#Q1

from sqlalchemy import Column, ForeignKey, Integer, String, Table, create_engine, select,insert,update, delete
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, sessionmaker

Base = declarative_base()

engine = create_engine('sqlite:///CLS2223T1.db', echo=False)
Session = sessionmaker(bind=engine)  
session = Session()

TB2103 = Table(
    'TB2103', Base.metadata,
    Column('sid', Integer, primary_key=True),
    Column('name', String(50)),
    Column('grade', String(5)),
)

Base.metadata.create_all(engine)

In [13]:
#Q2

stmt = select([TB2103])
result = session.execute(stmt)
for row in result:
    print(row)

session.commit()
session.close()

In [14]:
#Q3

stmt = insert(TB2103).values(sid=2101313, name='Kenneth', grade='NA')
result = session.execute(stmt)
stmt = select(TB2103)
result = session.execute(stmt)
for row in result:
    print(row)

session.commit()
session.close()

(2101313, 'Kenneth', 'NA')

In [15]:
#Q4

stmt = insert(TB2103).values(sid=2002345, name='Sansa Stark', grade='NA')
result = session.execute(stmt)

session.commit()
session.close()

stmt = insert(TB2103).values(sid=2003456, name='Jon Snow', grade='NA')
result = session.execute(stmt)

session.commit()
session.close()

stmt = select(TB2103)
result = session.execute(stmt)
for row in result:
    print(row)

session.commit()
session.close()

(2002345, 'Sansa Stark', 'NA')
(2003456, 'Jon Snow', 'NA')
(2101313, 'Kenneth', 'NA')

In [16]:
#Q5

stmt = update(TB2103).where(TB2103.c.name == "Jon Snow").values(grade='A-')
result = session.execute(stmt)
stmt = select(TB2103)
result = session.execute(stmt)
for row in result:
    print(row)

session.commit()
session.close()

(2002345, 'Sansa Stark', 'NA')
(2003456, 'Jon Snow', 'A-')
(2101313, 'Kenneth', 'NA')

In [17]:
#Q6

stmt = update(TB2103).where(TB2103.c.sid == 2101313).values(grade='A+')
result = session.execute(stmt)
stmt = select(TB2103)
result = session.execute(stmt)
for row in result:
    print(row)

session.commit()
session.close()

(2002345, 'Sansa Stark', 'NA')
(2003456, 'Jon Snow', 'A-')
(2101313, 'Kenneth', 'A+')

In [18]:
## Q7

stmt = delete(TB2103).where(TB2103.c.name == "Sansa Stark")
result = session.execute(stmt)
stmt = select(TB2103)
result = session.execute(stmt)
for row in result:
    print(row)

session.commit()
session.close()

(2003456, 'Jon Snow', 'A-')
(2101313, 'Kenneth', 'A+')

In [19]:
# Q8
stmt = delete(TB2103)
result = session.execute(stmt)
stmt = select(TB2103)
result = session.execute(stmt)
for row in result:
    print(row)

session.commit()
session.close()