In [21]:
#Question 1

import sqlite3
import pandas as pd

conn = sqlite3.connect('music2101313.sqlite')

cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Tracks')

cur.execute('CREATE TABLE Tracks (title TEXT, plays INTEGER)')

conn.close()

In [22]:
#Question 2

conn = sqlite3.connect('music2101313.sqlite')

cur = conn.cursor()

cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)', ('Save Your Tears', 20))

cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)', ('Levitating', 15))

conn.commit()

conn.close()

In [23]:
#Question 3

conn = sqlite3.connect('music2101313.sqlite')

cur = conn.cursor()

for(row) in cur.execute('SELECT title, plays FROM Tracks'):
    print(row)

('Save Your Tears', 20)
('Levitating', 15)

In [24]:
#Question 4

row = cur.execute('SELECT title, plays FROM Tracks').fetchone()

print(row)

('Save Your Tears', 20)

In [25]:
#Question 5

rows = cur.execute('SELECT title, plays FROM Tracks').fetchall()

print(rows)

[('Save Your Tears', 20), ('Levitating', 15)]

In [26]:
#Question 6

cur.execute('UPDATE Tracks SET plays = 5 WHERE title = "Save Your Tears"')

conn.commit()

rows = cur.execute('SELECT title, plays FROM Tracks').fetchall()

data = pd.DataFrame(rows, columns=['title', 'plays'])

print(data)

             title  plays
0  Save Your Tears      5
1       Levitating     15

In [27]:
#Question 7

cur.execute("DELETE FROM Tracks WHERE plays = 5")

conn.commit()

rows = cur.execute('SELECT title, plays FROM Tracks').fetchall()

data = pd.DataFrame(rows, columns=['title', 'plays'])

print(data)

        title  plays
0  Levitating     15

In [28]:
#Preperation for Question 8

conn = sqlite3.connect('order.sqlite')

cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Orders')

cur.execute('DROP TABLE IF EXISTS Customers')

cur.execute('CREATE TABLE Customers (customer_id INTEGER primary key, customer_name TEXT)')

cur.execute('CREATE TABLE Orders (order_id TEXT primary key, customer_id INTEGER , amount DOUBLE, FOREIGN KEY(customer_id) REFERENCES Customers(customer_id))')

In [29]:
#Question 8

cur.execute('INSERT INTO Customers (customer_id, customer_name) VALUES (?, ?)', (1, 'Arya'))

cur.execute('INSERT INTO Customers (customer_id, customer_name) VALUES (?, ?)', (2, 'Jon'))

cur.execute('INSERT INTO Customers (customer_id, customer_name) VALUES (?, ?)', (3, 'Robb'))

cur.execute('INSERT INTO Customers (customer_id, customer_name) VALUES (?, ?)', (4, 'Kenneth Lee'))

conn.commit()

rows = cur.execute('SELECT customer_id, customer_name FROM Customers').fetchall()

data = pd.DataFrame(rows, columns=['customer_id', 'customer_name'])

print(data)

   customer_id customer_name
0            1          Arya
1            2           Jon
2            3          Robb
3            4   Kenneth Lee

In [30]:
#Question 9

cur.execute('INSERT INTO Orders (order_id, customer_id, amount) VALUES (?, ?, ?)', ('O1', 1, 19.99))

cur.execute('INSERT INTO Orders (order_id, customer_id, amount) VALUES (?, ?, ?)', ('O2', 2, 66.66))

cur.execute('INSERT INTO Orders (order_id, customer_id, amount) VALUES (?, ?, ?)', ('O3', 3, 17.56))

cur.execute('INSERT INTO Orders (order_id, customer_id, amount) VALUES (?, ?, ?)', ('O4', 4, 88.88))

conn.commit()

rows = cur.execute('SELECT order_id, customer_id, amount FROM Orders').fetchall()


data = pd.DataFrame(rows, columns=['order_id', 'customer_id', 'amount'])

print(data)

  order_id  customer_id  amount
0       O1            1   19.99
1       O2            2   66.66
2       O3            3   17.56
3       O4            4   88.88

In [31]:
#Question 10

rows = cur.execute('SELECT * FROM Orders INNER JOIN Customers ON Orders.customer_id = Customers.customer_id').fetchall()

data = pd.DataFrame(rows, columns=['order_id', 'customer_id', 'amount', 'customer_id', 'customer_name'])

print(data)

  order_id  customer_id  amount  customer_id customer_name
0       O1            1   19.99            1          Arya
1       O2            2   66.66            2           Jon
2       O3            3   17.56            3          Robb
3       O4            4   88.88            4   Kenneth Lee

In [32]:
#Question 11

rows = cur.execute('SELECT customer_name, order_id FROM Orders INNER JOIN Customers ON Orders.customer_id = Customers.customer_id WHERE amount > 15').fetchall()

data = pd.DataFrame(rows, columns=['customer_name', 'order_id'])

print(data)

conn.close()

  customer_name order_id
0          Arya       O1
1           Jon       O2
2          Robb       O3
3   Kenneth Lee       O4